/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.footer {
  padding-top: 89px;
  padding-bottom: 10px;
  background-color: var(--charade);
  position: relative;
}

.footer__top {
  padding-top: 4px;
  padding-bottom: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__top-img {
  margin-bottom: 20px;
}

.footer__top-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__top-social-item:not(:last-child) {
  margin-right: 21px;
}

.footer__top-social-link svg {
  fill: var(--mischka);
  -webkit-transition: .3s ease-in-out, .3s ease-in-out;
  -o-transition: .3s ease-in-out, .3s ease-in-out;
  transition: .3s ease-in-out, .3s ease-in-out;
}

.footer__top-social-link:hover svg {
  fill: var(--electric-violet);
}

.footer__top-social-link:focus {
  outline: none;
}

.footer__top-social-link:focus svg {
  fill: var(--melrose);
}

.footer__top-social-link:active svg {
  fill: var(--active-color);
}

.footer__top-right {
  max-width: 447px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__nav {
  width: 100%;
}

.footer__nav-list {
  width: 100%;
  height: 100px;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 122px;
     -moz-column-gap: 122px;
          column-gap: 122px;
}

.footer__nav-item {
  width: 86px;
}

.footer__nav-item:not(:nth-child(3n)) {
  margin-bottom: 18px;
}

.footer__nav-link {
  -webkit-transition: .3s ease-in-out, .3s ease-in-out;
  -o-transition: .3s ease-in-out, .3s ease-in-out;
  transition: .3s ease-in-out, .3s ease-in-out;
}

.footer__nav-link:hover {
  color: var(--electric-violet);
}

.footer__nav-link:focus {
  outline: none;
  color: var(--melrose);
}

.footer__nav-link:active {
  color: var(--active-color);
}

/* Решение через flex / calc */

/* .footer__nav-list {
  width: 100%;
  height: 104px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__nav-item {
  flex: 0 0 calc(100% / 3 - 3px);
}

.footer__nav-item:not(:nth-last-child(-n + 3)) {
  margin-right: 109px;
}

.footer__nav-item:not(:nth-child(3n)) {
  margin-bottom: 4px;
} */

.footer__nav-link {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
}

.footer__wave-logo {
  width: 100%;
  position: absolute;
  bottom: 26;
  left: 0;
  max-width: 1920px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 21px;
}

.footer__copy {
  font-size: 16px;
  font-weight: 400;
  line-height: 103.336%;
  color: var(--grey);
}

/* Adaptive */

@media (max-width: calc(1200px - 1px)) {
  .footer {
    padding-top: 92px;
  }
}

@media (max-width: calc(1024px - 1px)) {
  .footer__top {
    padding-top: 4px;
    padding-bottom: 54px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__top-left {
    margin-bottom: 74px;
  }

  .footer__top-social-list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer__top-social-item:not(:last-child) {
    margin-right: 24px;
  }

  .footer__top-social-link svg {
    width: 36px;
    height: 36px;
  }

  .footer__top-right {
    max-width: 545px;
  }

  .footer__nav-list {
    width: 100%;
    height: 135px;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 167px;
       -moz-column-gap: 167px;
            column-gap: 167px;
  }

  .footer__nav-item {
    width: 86px;
  }

  .footer__nav-item:not(:nth-child(3n)) {
    margin-bottom: 28px;
  }
}

@media (max-width: 580px) {
  .footer__nav-list {
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }
}

@media (max-width: 430px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 0;
  }

  .footer__container {
    padding: 0;
  }

  .footer__top {
    padding-bottom: 0;
    display: block;
  }

  .footer__top-left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 48px;
  }

  .footer__top-right {
    width: 100%;
    padding: 25px 0 0 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: var(--mirage);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__nav {
    width: 100%;
    padding: 0 2px 0px 32px;
  }

  .footer__nav-list {
    width: 100%;
    min-height: 190px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }

  .footer__nav-item {
    width: 86px;
  }

  .footer__nav-item:not(:nth-child(5n)) {
    margin-bottom: 18px;
  }


  .footer__nav-link {
    font-size: 12px;
    font-weight: 400;
  }

  .footer__wave-logo {
    bottom: 30px;
  }

  .footer__bottom {
    padding-top: 30px;
    padding-bottom: 12px;
    margin-top: 0;
  }

  .footer__copy {
    font-size: 12px;
    font-weight: 400;
    line-height: 103.336%;
  }
}

