:root {
  --white: #fff;
  --black: #000;
  --grey: #A1A6B4;
  --electic-blue: #0039A6;
  --electric-violet: #6D31EE;
  --electric-red: #D52B1E;

  --active-color: #4F28A5;

  --mirage: #121723;
  --charade: #292E39;
  --mischka: #D2D5DD;
  --athens-gray: #E6E8EC;
  --tussock: #BB973E;
  --buff: #F0D288;
  --melrose: #AA9DFA;
  --porcelain: #F5F6F7;

  --gap: 30px;
}
