:root {
  --white: #fff;
  --black: #000;
  --grey: #a1a6b4;
  --electic-blue: #0039a6;
  --electric-violet: #6d31ee;
  --electric-red: #d52b1e;

  --active-color: #4f28a5;

  --mirage: #121723;
  --charade: #292e39;
  --mischka: #d2d5dd;
  --athens-gray: #e6e8ec;
  --tussock: #bb973e;
  --buff: #f0d288;
  --melrose: #aa9dfa;
  --porcelain: #f5f6f7;

  --gap: 30px;
}
